@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: linear-gradient(90deg, #000000, #00d9ff, #000000);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
html {
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#000000;
    max-width: 100%;
    height: auto;
    padding: 30px;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg,#00d9ff,blue) 10;

}
header h1 {
    text-shadow:0 0 35px #00d9ff, 0px 0px 15px #00d9f0;
    font-size: 2em;
    font-weight:bolder;
    color: #00d9ff;
}
.conteudo-texto, p {
    margin-top: 1em;    
}
h2 {
    font-weight: bold;
    margin: 1em 0;
}
#navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    
}
header nav a{
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    transition: 200ms;
    font-weight: bold;

}
#navegacao :hover{
    font-weight: bold;
    color: #00d9ff;
    text-shadow:0 0 1px #00d9ff

}
main {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    min-height: calc(100% - 167px);
    margin: 0 auto;
    background: ivory;
    padding: 10px;
}
.ferramentas {
    font-size: 1em;
}
#lista-ferramentas, #lista-exemplo {
    list-style-position: inside;
    list-style-type:square;
    margin: 1em;

}
#aplicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#conversor{
    border-radius: 5px;
    width: 240px;
    height: 30px;

}
.entrada {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    margin: 10px 0;
    font-weight: bold;

}
.tabela-exemplo {
    margin: 1em auto;
    }
.saida th, .tabela-exemplo th{
    background-color:  #192020;
    color: #ffffff;
    border: 1px solid #888888;
    padding: 5px;
}
.saida td, .tabela-exemplo td{
    padding-inline: 5px;
    margin:0 10px;
    width: auto;
    border: 1px solid black;
    text-align: center;
}
.tutorial, .texto {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
#lista-tutorial {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

img{
    width: auto;
    margin-bottom: 40px;
    box-shadow: 3px 2px 5px #000000;
    max-width: 100%;
}
button{
    align-self: center;
    width: 200px;
    height: 30px;
    border-radius:5px ;
    background-color: #192020;
    box-shadow: 2px 3px 5px #000000;
    margin: 25px 0;
    color: aliceblue;

    transition: 500ms;
}
button a{
    font-size: 1em;
    text-decoration: none;
    color: aliceblue;
}
button:hover{
    width: 240px;
    color: #00d9ff;
}
button a:hover{
    color: #00d9ff;
}
#video {
    margin: 50px auto;
}

footer {
    color: aliceblue;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 18pt;
    border-top: 5px solid;
    background:#000000;
    border-image: linear-gradient(90deg,#00d9ff,blue) 10;
    padding: 1em 0;
}

#copy{
    font-size: 0.5em;
}
@media screen and (max-width: 480px) {
   iframe, body, header, footer{
    max-width: 100%;
    font-size: 2rem;
   }
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    #navegacao {
        position: static;
        text-shadow: #888888;
        width: 80%;
    }
    header {
        flex-direction: column;
        justify-items:auto;
        padding: 15px;
        height: auto;
    }
    .hexa {
        display: none;
    }
    button, input {
        width: 90%;
    }
    .saida, .tabela-exemplo {
        font-size: 1rem;
    }

}